<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EatInOslo || Admin || @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/admin.css">
</head>
<body>
    <header>
        <a class="home-btn" asp-controller="Admin" asp-action="Index">Admin</a>
        <a class="plus-restaurant-btn" asp-controller="Admin" asp-action="NewRestaurant">+Restaurant</a>
        <a class="restaurants-btn" asp-controller="Admin" asp-action="Restaurants">Restaurants</a>
        <a class="reviews-btn" asp-controller="Admin" asp-action="Reviews">Reviews</a>
        <a class="back-btn" asp-controller="Home" asp-action="Index">Back to mainpage</a>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>