<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EatInOslo || @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <header>
        <a class="home-btn" asp-controller="Home" asp-action="Index">HOME</a>
        <a class="login-btn" asp-controller="Home" asp-action="Login">Login/Logout</a>
        <a class="signup-btn" asp-controller="Home" asp-action="CreateLogin">Sign Up</a>
    </header>
        <main>
            @RenderBody()
        </main>
    <footer>
        <a class="admin-btn" asp-controller="Admin" asp-action="Index">Admin</a>
        <a class="twitter-btn" href="http://www.twitter.com">Twitter</a>
        <a class="fb-btn" href="http://www.facebook.com">Facebook</a>
        <a class="github-btn" href="http://www.github.com/WesterOne">Github</a>
    </footer>

    <script src="~/script/jquery-3.3.1.min.js"></script>
    <script src="~/script/main.js"></script>
</body>
</html>