<div class="form-container">
    <form asp-action="CreateLogin" asp-controller="Home">
        <h1>CREATE</h1>
        <input type="text" name="name" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="email" name="email" placeholder="Email">
        <input type="submit" value="Login">
    </form>
</div>