<form asp-action="CreateLogin" asp-controller="Home">
    Username:
    <input type="text" name="name">
    Password:
    <input type="password" name="password">
    Email
    <input type="email" name="email">
    <input type="submit" value="Login">
</form>