@{
    if (ViewData["login"] != null)
    {
        <p>Already logged in as @ViewData["login"]</p>
    } else {
        <div class="form-container">
            <form asp-action="Login" asp-controller="Home">
                <h1>&#x1f512;</h1>
                <input type="text" name="name" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
                <a class="login-create" asp-controller="Home" asp-action="CreateLogin">Create new login</a>
            </form>
        </div>
    }
}